{% extends 'users/base.html' %}
{% load static %}
{% block title %} Подтверждение {% endblock %}
{% block content %}
<body class="login_page">
	<div class="main">  	
		
			<div class="confirm">
				<form method="post" action="{% url 'users:confirm' username=username %}">
					{% csrf_token %}
					<label>Подтверждение аккаунта {{ username }}</label>
					<input type="confirm_code" name="confirm_code", placeholder="confirm code">
					<button type="submit">Войти	</button>
				</form>
			</div>
	</div>
</body>
{% endblock %}