{% extends 'users/base.html' %}
{% load static %}
{% block title %} Регистрация {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<body class="login_page">
	<div class="main d-flex	flex-column text-center justify-content-center align-items-center">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				{% if form.errors %}
				{% for field in form %}
                            {% for error in field.errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
				{% endif %}
				<form method="post" action="{% url 'users:signup' %}" class="d-flex	 flex-column text-center justify-content-center align-items-center">
					<label for="chk" aria-hidden="true">Регистрация</label>
					{% for field in form %}
						{{ field }}
						<br>
					{% endfor %}
					{% csrf_token %}
					<button type="submit">Регистрация</button>
				</form>
				
			</div>
			<div>
			<p class="text-white" style="margin: 0;">Есть аккаунт?</p>
			<a class="btn btn-success text-white mb-3" href="{% url 'users:login' %}">Войти</a>
		</div>
	</div>
</body>
{% endblock %}