{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}4E4 shop{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/titlepic4e4.jpg' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
</head>

<body>
    <!-- Header -->
    {% include "header.html" %}
    <!-- Close Header -->

    {% block content %}

    {% endblock %}

    <!-- Start Footer -->
    {% include "footer.html" %}
    <!-- End Footer -->
    <div id="endFooter"></div>
    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/slidebottom.js' %}"></script>
    {% for product in products %}
    <script>
        $(document).ready(function () {
    
            // Accordion
            var all_panels = $('.templatemo-accordion > li > ul').hide();
    
            $('.templatemo-accordion > li > a').click(function () {
                console.log('Hello world!');
                var target = $(this).next();
                if (!target.hasClass('active')) {
                    all_panels.removeClass('active').slideUp();
                    target.addClass('active').slideDown();
                }
                return false;
            });
            // End accordion
    
            // Product detail
            $('.product-links-wap a').click(function () {
                var this_src = $(this).children('img').attr('src');
                $('#product-detail-{{ product.id }}').attr('src', this_src);
                return false;
            });
            $('#btn-minus-{{ product.id }}').click(function () {
                var val = $("#var-value-{{ product.id }}").html();
                val = (val == '1') ? val : val - 1;
                $("#var-value-{{ product.id }}").html(val);
                $("#product-quanity-{{ product.id }}").val(val);
                return false;
            });
            $('#btn-plus-{{ product.id }}').click(function () {
                var val = $("#var-value-{{ product.id }}").html();
                val++;
                $("#var-value-{{ product.id }}").html(val);
                $("#product-quanity-{{ product.id }}").val(val);
                return false;
            });
            $('.btn-size').click(function () {
                var this_val = $(this).html();
                $("#product-size-{{ product.id }}").val(this_val);
                $(".btn-size").removeClass('btn-secondary');
                $(".btn-size").addClass('btn-success');
                $(this).removeClass('btn-success');
                $(this).addClass('btn-secondary');
                return false;
            });
            // End roduct detail
    
        });
    </script>
    {% endfor %}
    <!-- End Script -->
    
    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <!-- End Slider Script -->

</body>

</html>