{% load static %}
<div class="modal" data-modal="{{ product.id }}">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>


    <section class="bg-light">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-5 mt-5 d-flex justify-content-center align-items-center">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="/media/{{ product.picture }}" alt="Card image cap"
                            id="product-detail-{{product.id}}">
                    </div>
                    <div class="row">
                        <!--Start Controls-->

                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->

                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <!-- <i class="text-dark fas fa-chevron-right"></i> -->
                                <!-- <span class="sr-only">Next</span> -->
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.name }}</h1>


                            <h6>Коллекция:</h6>

                            <p><strong>{{ product.collection }}</strong></p>


                            <h6>Описание:</h6>
                            <p><strong>4E4 представляет новую коллекцию обуви, кеды v1, которая воплощает в себе
                                    современный стиль и комфорт для активного образа жизни. Кеды v1 из
                                    коллекции Flex сочетают в себе функциональность, стиль и высокое
                                    качество, чтобы удовлетворить требования самых требовательных
                                    покупателей.</strong></p>

                            <h6>Цвет:</h6>

                            <p><strong>{{ product.color }}</strong></p>

                            <h6>Цена:</h6>
                            <p><strong>{{ product.selling_price_per_unit }} рублей</strong></p>



                            <form action="" method="GET">
                                <input type="hidden" name="product-id" value="{{ product.id }}">
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <h6>Размер:</h6>
                                            <li><input type="hidden" name="product-size"
                                                    id="product-size-{{product.id}}" value="0">
                                            </li>
                                            {% for size in product.sizes %}
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">{{ size }}</span></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <h6>Количество:</h6>
                                            <li><input type="hidden" name="product-quanity"
                                                    id="product-quanity-{{ product.id }}" value="1"></li>
                                            <li class="list-inline-item"><span class="btn btn-success"
                                                    id="btn-minus-{{ product.id }}">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary"
                                                    id="var-value-{{ product.id }}">1</span>
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success"
                                                    id="btn-plus-{{ product.id }}">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3 justify-content-between">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit"
                                            value="buy">Купить</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit"
                                            value="addtocard">Добавить в корзину</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="overlay js-overlay-modal"></div>