{% extends 'shop/base.html' %}
{% load static %}
{% block title %} 4e4-SHOP {% endblock %}
{% block content %}

<!-- MODAL -->

<!-- Элементы для вызова модальных окон, могут быть любые -->



<!-- Несколько модальных окон -->



<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>

<!-- ENDMODAL -->


<!-- Start Content -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row justify-content-center">
                {% for product in products %}
                <div class="col-md-4 col-xl-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            {% if product.picture %}
                            <img class="card-img rounded-0 img-fluid" src="/media/{{ product.picture }}">
                            {% else %}
                            Нет картинки
                            {% endif %}
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a href="#" class="js-open-modal js-btn-open-modal btn btn-success text-white mt-2"
                                            data-modal="{{ product.id }}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">{{ product.model }}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>{{ product.type }}</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <p class="text-center mb-0 mt-2"><strong>{{ product.selling_price_per_unit }} рублей</strong></p>
                        </div>
                    </div>
                </div>
                
                {% include 'shop/modal.html' %}
                
                {% endfor %}

            </div>
        </div>

    </div>
</div>

{% endblock %}