{% extends 'shop/base.html' %}
{% load static %}
    {% block title %} КЕДЫ ) {% endblock %}
    {% block content %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{% static 'img/кеды.jpg' %}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->

                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <!-- <i class="text-dark fas fa-chevron-right"></i> -->
                                <!-- <span class="sr-only">Next</span> -->
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">Кеды V1</h1>
                            <p class="h3 py-2">2500 руб</p>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Коллекция:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>4E4 Flex</strong></p>
                                </li>
                            </ul>

                            <h6>Описание:</h6>
                            <p>4E4 представляет новую коллекцию обуви, кеды v1, которая воплощает в себе современный стиль и комфорт для активного образа жизни. Кеды v1 из коллекции Flex сочетают в себе функциональность, стиль и высокое качество, чтобы удовлетворить требования самых требовательных покупателей.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Цвет :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Белый / Фиолетовый</strong></p>
                                </li>
                            </ul>



                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Размер :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">41</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">42</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">43</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">44</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Количество
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Купить</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Дабвить в корзину</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
    {% endblock %}