<!--Админка-->
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка</title>
</head>
<body class="body_for_main">
    <nav>
        <div class="menu-container">
          <div class="info-container">
            <a>ФИО: Иванов Иван</a>
            <a>Должность:Директор</a>
          </div>
          <ul>
            <li><a href="#">Заказы</a></li> <!-- Вместо решётки ссылка на страницу с заказами--> 
            <li><a href="#">Работники</a></li> <!--Список выполняемых работником заказов--> 
            <li><a href="#">Склад</a></li>
            <li><a href="#">Выйти</a></li> <!-- Выйти из учётки--> 
          </ul>
        </div>
      </nav>
      <div class="order-container">
        <label for="status-filter">Статус заказа:</label>
        <select id="status-filter">
          <option value="all">Все</option>
          <option value="completed">Выполнен</option>
          <option value="in-progress">В работе</option>
          
        </select>
        <label for="size-filter">Размер:</label>
        <select id="status-filter">
            <option value="all">Все</option>
            <option value="all">39</option>
            <option value="completed">40</option>
            <option value="in-progress">41</option>
            <option value="in-progress">42</option>           
            <option value="in-progress">43</option>
            <option value="in-progress">44</option>
            <option value="in-progress">45</option>
        </select>
        <label for="executor-filter">Исполнитель:</label>
        <select id="status-filter">
            <option value="all">Все</option>
            <option value="all">Готовчиков А.П</option>
            <option value="completed">Алиев В.Т</option>
            <option value="in-progress">Шабанов А.А</option>
            <option value="in-progress">Иванов И.И</option> 
        </select> 
        <label for="executor-filter">Пол:</label>
        <select id="status-filter">
            <option value="all">Все</option>
            <option value="all">Мужской</option>
            <option value="all">Женский</option>
        </select>
        <label for="executor-filter">Тип:</label>
        <select id="status-filter">
            <option value="all">Все</option>
            <option value="all">Кроссовки</option>
            <option value="all">Туфли</option>
            <option value="all">Кеды</option>
            <option value="all">Сапоги</option>
        </select> 
        </div>
        <div class="order-container">
            <div class="order-number">Номер заказа: 100</div>
            <div class="order-type">Тип заказа:Кроссовки </div>
            <div class="order-size">Размер: 44</div>
            <div class="order-size">Пол: Женский</div>
            <div class="order-status">Статус заказа: Выполнено</div>
            <div class="order-dealer">Исполнитель: Готовчиков А.П</div>
          </div>
</body>
</html>