<!--Мои заказы-->
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои заказы</title>
</head>
<body class="body_for_main">
    <nav>
        <div class="menu-container">
          <div class="info-container">
            <a>ФИО: Иванов Иван</a>
            <a>Должность:Директор</a>
            <a>Активных заказов:3/5</a>
          </div>
          <ul>
            <li><a href="./main.html">Доступные заказы</a></li> <!-- Вместо решётки ссылка на страницу с заказами--> 
            <li><a href="./myorders.html">Мои заказы</a></li> <!--Список выполняемых работником заказов--> 
            <li><a href="./index.html">Выйти</a></li> <!-- Выйти из учётки--> 
          </ul>
        </div>
        </nav>
        <div class="order-container">
            <div class="order-number">Номер заказа: 100</div>
            <div class="order-type">Тип заказа:Кроссовки </div>
            <div class="order-size">Размер: 44</div>
            <div class="order-size">Пол: Женский</div>
            <div class="order-status">Статус заказа: Выполнено</div>
          </div>
</body>
</html>