<nav>
    <div class="col-12 d-flex flex-row align-items-center justify-content-around">
        <div class="pt-3 text-center col-6 d-flex flex-row">
            <div class="col-4">
                <h4>ФИО работника:</h4>
                <p>{{ user.username }}</p>
            </div>
            <div class="col-4">
                <h4>Должность:</h4>
                <p>{% if user.is_staff %} Директор {% else %} Работник {% endif %}</p>
            </div>
            <div class="col-4">
                <h4>Активных заказов:</h4>
                <p>{{ user.active_orders }}/5</p>
            </div>
        </div>
        <div class="text-center col-6 d-flex flex-row">
                <div class="col-3">
                    <a class="btn btn-success" href="{% url 'workzone:index' %}">Доступные заказы</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success" href="{% url 'workzone:profile' %}">Мои заказы</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success" href="{% url 'shop:index' %}">Страница магазина</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success" href="{% url 'workzone:storage' %}">Склад</a>
                </div>
        </div>
    </div>
</nav>