<!--Админка-->
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка склада</title>
</head>
<body class="body_for_main">
    <nav>
        <div class="menu-container">
          <div class="info-container">
            <a>ФИО: Иванов Иван</a>
            <a>Должность:Директор</a>
          </div>
          <ul>
            <li><a href="#">Заказы</a></li> <!-- Вместо решётки ссылка на страницу с заказами--> 
            <li><a href="#">Работники</a></li> <!--Список выполняемых работником заказов--> 
            <li><a href="#">Склад</a></li>
            <li><a href="#">Выйти</a></li> <!-- Выйти из учётки--> 
          </ul>
        </div>
      </nav>
      <div class="order-container">
        <div class="order-number"></div>
        <div class="order-type"></div>
        <div class="order-size">Продукции на складе: </div>
        <div class="order-size">Остаток </div>
        <div class="order-status">Статус заказа: Выполнено</div>
        <div class="order-dealer"></div>
      </div>
    
</body>
</html>