{% extends 'workzone/base.html' %}
{% block title %}Склад{% endblock %}<!--Доступные мне заказы-->
{% block content %}
<div class="tables">
  {% for product in products %}
  
  <div class="col-8 mx-auto pb-4">
    <div class="order-container">
      <div class="col-md-10 col-lg-10 col-xl-10 px-3 order-info d-flex flex-row justify-content-center align-items-center text-center">
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h6>Продукт:</h6>
          <p><strong>{{ product.product }}</strong></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h6>Количество на складе:</h6>
          <p><strong>{{ product.quantity }}</strong></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h6>Поставщик:</h6>
          <p><strong>{{ product.provider }}</strong></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h6>Номер поставщика:</h6>
          <p><strong>{{ product.provider_number }}</strong></p>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
{% endblock %}