
/*main css */
nav {
  display: block;

    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
  }
  .info-container {
    font-weight: bold;
    display: flex;
	cursor: pointer;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  li {
    margin-left: 10px;
  }
  a {
    color: black;
    margin-left:10px;
    font-family: 'Jost', sans-serif;
  }
/*main for order css */
.tables{    
    padding-top: 30px;
}
.order-container {
  margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-family: 'Courier New', Courier, monospace;
	color: #000;
}
  
  
  .order-info {
    flex: auto;
  }
  
  .order-buttons button {
    margin-bottom: 5px;
    width: 110px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .reject-order button{ 
    background-color: #ff0000;
} 
.body_for_main{
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
/* myorders */
.order-number, .order-type, .order-size, .order-status .order-dealer {
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
  }

/* for adminpage */
.filter-container {
	margin-bottom: 10px;
  }
  
  .filter-container label {
	font-weight: bold;
	display: block;
	margin-top: 10px;
	color: #000;
  }

.wrapper-order { 
  margin: 10px;
}
  