<footer class="bg-dark" id="tempaltemo_footer">
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 4E4 Corp. 
                        | Designed by <a rel="sponsored" href="https://vk.com/lotereysh1k" target="_blank">lotereysh1k</a>
                        | Backended by <a rel="sponsored" href="https://vk.com/kritohanzo" target="_blank">kritohanzo</a>
                
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>